*{
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0 none;
	text-decoration: none;
	box-sizing: border-box;		/*изменить алгоритм подщета размеров блока*/
}
a:hover, a {
    color: inherit;
    text-decoration: inherit;
}
li{
	 list-style-type:none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
body{
	background: url(../img/bg1.jpg) no-repeat center fixed;
    background-size: cover;
}
.wrapper{
	outline: 0px solid #000;
	max-width:1170px;
	position: relative;
	margin: auto;
	overflow: hidden;
}
header{
	outline: 0px solid #000;
	height: 80px;
}
ul.projectVerst li{
	float: left;
	margin-left: 20px;
	color: #fff;
}
