.gallery-box {
  width: 49%; }

#gall_box11 .heigth, #gall_box12 .heigth, #gall_box21 .heigth, #gall_box22 .heigth {
  padding-top: 66.666%; }

#gall_box31 {
  width: 67.8592%; }
  #gall_box31 .heigth {
    padding-top: 66.6667%; }

#gall_box32 {
  width: 30.1407%; }
  #gall_box32 .heigth {
    padding-top: 150.0938%; }
