@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular");
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0 none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: RobotoRegular;
  color: inherit; }

body {
  background-color: #fff; }

.wrapper {
  max-width: 95%;
  margin: auto;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px; }

header {
  background-color: #F5F9FF;
  position: relative;
  margin-bottom: 20px;
  height: 100px;
  overflow: hidden;
  width: 100%; }

header:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 0.5%;
  height: 100%;
  left: 0px; }

header:after {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  width: 0.5%;
  height: 100%;
  right: 0px;
  top: 0px; }

.header_box {
  width: 90%;
  margin: auto;
  overflow: hidden; }

.logo {
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase; }

nav {
  float: right; }
  nav li {
    float: left;
    margin-left: 20px; }

.social {
  float: left; }

.social ul {
  overflow: hidden; }
  .social ul li a {
    display: block;
    width: 100%;
    height: 100%; }

.social li {
  outline: 1px solid #000;
  margin: 5px;
  height: 20px;
  width: 20px;
  float: left; }

.content {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.gallery {
  overflow: hidden; }
  .gallery ul {
    overflow: hidden;
    clear: both; }
    .gallery ul li {
      float: left; }

.gallery-box {
  background-color: #ccc;
  margin: 0.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  overflow: hidden;
  position: relative;
  width: 24%; }

.gallery-box .heigth {
  display: block;
  height: 0;
  padding-top: 100%; }

.gallery-box__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover; }

#box11, #box12, #box13 {
  width: 32.3333%; }

#box11 .heigth, #box12 .heigth, #box13 .heigth {
  padding-top: 66.666%; }

#box21, #box22, #box23, #box24 {
  width: 24%; }

#box21 .heigth, #box22 .heigth, #box23 .heigth, #box24 .heigth {
  padding-top: 66.666%; }

#box31 {
  width: 41.1428%; }
  #box31 .heigth {
    padding-top: 66.6666%; }

#box32, #box33, #box34 {
  width: 18.2857%; }
  #box32 .heigth, #box33 .heigth, #box34 .heigth {
    padding-top: 150%; }

footer {
  background-color: #F5F9FF;
  text-align: center;
  color: #000;
  height: 100px;
  position: relative; }
  footer span {
    vertical-align: -30px; }

footer:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 0.5%;
  height: 100%;
  left: 0px; }

footer:after {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  width: 0.5%;
  height: 100%;
  right: 0px;
  top: 0px; }
